[submodule "third_party/GLM-4-Voice"]                                                                                                                                                                                                                
    path = third_party/GLM-4-Voice                                                                                                                                                                                                               
    url = https://github.com/shenyunhang/GLM-4-Voice.git                                                                                                                                                                                         
[submodule "third_party/3D-Speaker"]                                                                                                                                                                                                                 
    path = third_party/3D-Speaker                                                                                                                                                                                                                
    url = https://github.com/MrXJC/3D-Speaker                                                                                                                                                                                                    
[submodule "third_party/MOSS-TTSD-v0.7"]                                                                                                                                                                                                             
    path = third_party/MOSS-TTSD-v0.7                                                                                                                                                                                                            
    url = https://github.com/MrXJC/MOSS-TTSD
